/*--------------- start of table horizontal SECTION---------------*/
#products table a>img {
	max-width: 100px;
	max-height: 85px;
}
#products table td.price h3{
	color: #413839;
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	line-height: 1;	
	min-width: 112px;
}
#products table h3.price small{
	font-size: 80%;
	font-weight: 400;
}
#products table td.stock{
	font-size: 0.8em;
	width: 12%;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	color: #007F00;
}
#products table td.stock.out-of-stock{
	color: #585858;
}
#products table td {
	vertical-align: middle;
}